<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 引入配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:hibernate.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${hibernate.connection.driver_class}" />
		<property name="url" value="${hibernate.connection.url}" />
		<property name="username" value="${hibernate.connection.username}" />
		<property name="password" value="${hibernate.connection.password}" />
	</bean>
	<!-- 定义Hibernate的sessionFactory --><!-- 为了让你的hibernate能够连接上数据库。SessionFactory提供连接 Session s=sessionFactory.openSession(); 通过Session 接口提供的各种方法来操纵数据库访问 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- 数据库连接方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 在控制台输出SQL语句 -->
				<prop key="hibernate.show_sql">false</prop>
				<!-- 格式化控制台输出的SQL语句 -->
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop> 
			</props>
		</property>
		<!--Hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/mr/user/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 注入SessionFactory -->
	<bean id="userDAO" class="com.mr.dao.UserDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
</beans>